/*
specifying the char set
*/
@charset "UTF-8";

/*
style rule which is applied to the tags that are listed\
style declaration is enclosed in {}
name of property followed by : followed by the value we want to set it to

*/
/*
this style allows new html5 elements to work on old browsers without 
fucking up formating wont work on internet 8 or older cuz 
the browser doesnt let css elemetns to be applied to elements it doesnt
recognize the workaround involves using javascript meaning user
will have to have javascript enabled which should be fine since 
all modern browsers live off the stuff
*/
article, aside, footer, header, main, nav, section {
    display: block;
}

html, body, h1, h2, h3, ul, li, a, p, article, 
aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
}

/* since we are refering to class name it is preceded by a period .

*/
/**/
.banner{
    background-color: #11233b;
    /*changes text color*/
    color:white;
    /*padding so header wont be too closeto edges*/
    padding: 10px 20px;
}

/*this is for setting the width for the webpage*/
body {
    width: 960px;
    /*for setting margins to consistent thing*/
    margin-left: auto;
    margin-right: auto;
    /*for setting background color*/
    background-color: #f0f0f0;
    /*This is a complicated attribute read about it later, I think
    it is prioritized or something*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

nav {
    background-color: #20416c;
    /*creates little white space between dark blue and light blue
    on top of page*/
    margin-top: 1px;
}

/* since a is contained in li elements you youse a style rule like 
this... watch css video... its only applied to hyper links 
that are contained within an li tag */
/*This is for fixing hard to read hyperlinks*/

li a{
    color:white;
    padding: 5px;
}

/*now to apply styles to list item elements*/
li {
    /*how the things are displayed, instead of bullets
    we have a line*/
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
}

section {
    background-color: #bbbbbb;
    /*gives each thing some breathing room remove to see what does 
    seperates grey boxes a little bit*/
    margin-top: 10px;
    /*prevents article stuff from coming too close to the section stuff*/
    padding: 5px;
}

article {
    background-color: white;
    /*makes them look seperate*/
    margin-top: 5px;
    /*prevents text from coming too close to edges*/
    padding: 10px 15px;
}

/*for setting the main content window adjust to 640px if youd like*/
main {
    width: 640px;
    /*by floating it to left its allowing aside to move to top*/
    float: left;
    margin-bottom: 10px;
}

/*float makes it move to the right side if specified*/
aside {
    background-color: #bbbbbb;
    width: 270px;
    float: right;
    padding: 20px;
    margin-top: 10px;
}


/*clear property is what is alloiwing footer to go back to bottom*/
footer {
    clear: both;
    background-color: #20416c;
    color: white;
    padding: 5px 20px;
}
